/*#theme {
    background-color: #040800;
}*/
#theme-background {
    background-image: url('../../public/images/lg.jpg');
        /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}