@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Kalam:wght@300&display=swap');
.content {
    width: 40%;
    margin-left: 10%;
    ul {
        width: 100%;
        ul {
            display: flex;
            justify-content: space-between;
            li {
                list-style: none;
                display: flex;
            }
        }
    }
}