@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Kalam:wght@300&display=swap');
.wind-content {
    width: 40%;
    height: 30vh;
    margin-left: 5%;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 30px;
    margin-top: 5vh;
    ul {
        display: flex;
        justify-content: space-between;
        padding-right: 5%;
        padding-top: 15%;
        li {
            color: white;
            list-style: none;
            i {
                font-size: 25px;
            }
            .bi-bookmark-plus-fill {
                cursor: pointer;
            }
        }
        .value-class {
            h2 {
                display: inline;
            }
        }
    }
}